/*--------------0.0 - body -----------*/

/*-----------------------------------------*/

* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(255, 191, 110);
    background: linear-gradient(90deg, rgba(255, 191, 110, 1) 0%, rgba(239, 98, 159, 1) 100%);
    color: white;
    font-family: 'Krub', sans-serif;
    font-size: 15px;
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 5px;
}

h2 {
    font-family: 'Special Elite', cursive;
    letter-spacing: 9px;
    font-weight: 100;
}

.container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "h h h h h" "n n n n n" "a a a a a" "m m m m m" "f f f f f";
}

/*--------------1.0 - header + logo --------*/

/*-----------------------------------------*/

header {
    grid-area: h;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header a {
    text-decoration: none;
    color: white;
}

.header {
    cursor: pointer;
    margin: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header h2 {
    letter-spacing: 13px;
    font-weight: 100;
    margin-top: 10px;
}

.header .logo h1 {
    color: rgb(54, 39, 52);
}

.header .logo {
    display: flex;
    justify-content: center;
    border-bottom: 2px rgb(54, 39, 52) solid;
}

.logo ul {
    margin-top: 15px;
}

.logo ul li {
    list-style: none;
    text-align: left;
    line-height: 18px;
    font-weight: 100;
}

/*-------------1.2------------------------------
-----------Nav + menu-------------------------*/

nav {
    grid-area: n;
}

.navbar {
    margin-top: 50px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar ul li {
    border-top: 1px solid white;
}

.navbar ul li:hover {
    background-color: rgba(255, 255, 255, 0.418);
    transition: .4s;
}

.navbar ul li:hover .btn i {
    color: rgb(54, 39, 52);
    transition: .5s;
}

.navbar .btn i {
    font-size: 20px;
}

.navbar .btn {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar .btn p {
    font-family: 'Krub', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.navbar ul li:nth-child(1) {
    background-color: rgba(255, 255, 255, 0.521);
}

.navbar ul li:nth-child(1) a {
    color: rgb(54, 39, 52);
}

/*------------ 1.3-------------------------
---------------Main ---------------------*/

main {
    grid-area: m;
}

.main-post {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.main-head {
    text-align: left;
    line-height: 33px;
    padding: 20px;
}

.main-head h2 {
    margin-bottom: 20px;
}

.main-head .sp-1 {
    color: rgba(54, 39, 52, 0.541);
    margin-bottom: 10px;
    font-weight: 900;
    display: block;
}

.main-head p {
    line-height: 25px;
    font-weight: 200;
}

.main-head h2 .logo {
    color: rgb(54, 39, 52);
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 2px;
    font-size: 30px;
    margin-top: 10px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-video-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-box {
    margin: 5px;
    width: 265px;
    height: 200px;
    position: relative;
    background-image: url(../images/widgetimg.jpg);
    background-size: cover;
}

iframe {
    position: absolute;
    width: 133px;
    height: 105px;
    top: 50px;
    left: 96px;
    border-radius: 10px 10px 25px 10px;
    transform: rotate(1deg);
}

article section p {
    padding: 20px;
    line-height: 25px;
    font-weight: 200;
}

/*----------- 1.5--------------------------
----------- aside  --------info: 'aside' staat op display:none; omdat een aside niet past m.b.t. style / design. voor de opdracht heb ik hem er wel in gemaakt.*/

aside {
    grid-area: a;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside article {
    background-color: rgba(255, 255, 255, 0.164);
    border-radius: 50px;
    padding: 20px;
}

aside article section ul {
    margin-left: 20px;
}

aside {
    display: none;
}

/*----------- 1.5--------------------------
----------- footer  --------------------*/

footer {
    grid-area: f;
    margin-top: 50px;
}

#footer {
    background-color: rgba(54, 39, 52, 0.432);
    text-align: center;
    padding: 20px;
}

#footer:hover .sp2 {
    transition: .5s;
    color: rgb(254, 186, 112)
}

#footer p {
    font-size: 9px;
}

#footer h4 {
    color: rgb(54, 39, 52);
    margin-top: 10px;
}

#footer ul li {
    list-style: none;
}

#footer ul li .sp1 {
    font-family: 'Luckiest Guy', cursive;
    color: rgb(54, 39, 52);
    font-size: 30px;
}

#footer ul li .sp2 {
    font-family: 'Special Elite', cursive;
    font-size: 35px;
}

#footer ul li a {
    color: white;
    text-decoration: none;
}

#footer ul li a:hover {
    transition: .3s;
    color: rgb(254, 186, 112)
}

#footer .social-wrapper ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 50px;
}

@media(min-width:600px) {
    /*main------------------*/
    .img-box {
        margin: 5px;
        width: 600px;
        height: 400px;
        position: relative;
        background-image: url(../images/widgetimg.jpg);
        background-size: cover;
    }
    iframe {
        position: absolute;
        width: 259px;
        height: 200px;
        top: 110px;
        left: 195px;
        border-radius: 10px 10px 35px 10px;
        transform: rotate(1deg);
    }
}

@media(min-width:1000px) {
    .container {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr repeat(3, 300px) 1fr;
        grid-template-rows: 150px auto 200px;
        grid-template-areas: ". h n n ." ". m m m a" "f f f f f";
    }
    /*-------------------navbar-------------*/
    .navbar ul {
        margin-left: 60px;
        display: flex;
        justify-content: start;
    }
    .navbar ul li {
        margin-right: 15px;
        list-style: none;
        border-top: 0px solid rgba(255, 255, 255, 0.267);
        border: 1px solid rgba(255, 255, 255, 0.368);
        border-radius: 20px;
    }
    .navbar ul li:hover {
        background-color: rgba(255, 255, 255, 0.418);
        transition: .4s;
    }
    .navbar ul li:hover .btn i {
        color: rgb(54, 39, 52);
        transition: .5s;
    }
    .navbar .btn i {
        font-size: 20px;
    }
    .navbar .btn p {
        font-size: 15px;
    }
    /*aside--------------*/
    aside {
        max-width: 300px;
    }
    /*main------------------*/
    .img-box {
        margin: 5px;
        width: 800px;
        height: 530px;
        position: relative;
        background-image: url(../images/widgetimg.jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    iframe {
        position: absolute;
        width: 340px;
        height: 269px;
        top: 143px;
        left: 260px;
        border-radius: 15px 15px 45px 15px;
        transform: rotate(1.5deg);
    }
    .img-video-wrap {
        display: flex;
        margin-left: 20px;
        justify-content: start;
        align-items: center;
    }
    /*-----footer-----*/
    .social-wrapper {
        max-width: 900px;
        margin: auto;
    }
}